<launch>
  <rosparam command="load" file="$(find ucsd_robo_car_simple_ros)/config/color_filter_parameters/custom_filter.yaml" />
  <node name="camera_server" pkg="ece148" type="camera_server.py" />
  <node name="lane_detection_node" pkg="ece148" type="lane_Detection.py" output="screen" />
  <node name="lane_guidance_node" pkg="ucsd_robo_car_simple_ros" type="lane_guidance.py" />
  <node name="classification_node" pkg="ece148" type="pedestrian_intention.py" />
</launch>
