<launch>
  <node name="steering_client" pkg="ucsd_robo_car_simple_ros" type="steering_client.py" />
  <node name="throttle_client" pkg="ucsd_robo_car_simple_ros" type="throttle_client.py" />
  <node name="classification_sub_node" pkg="ucsd_robo_car_simple_ros" type="classification_sub.py" />
</launch>
